<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <img src="assets/Inspire.png" alt="Inspire Logo" class="footer-logo">
      </div>
      
      <div class="footer-section">
        <h4>INFORMAÇÕES</h4>
        <p><i class="fa fa-phone icon-roxo"></i> +55 41 9264-0130</p>
        <p><i class="fa fa-envelope icon-roxo"></i> comercial&#64;inspiretech.com</p>

        <p><i class="fa fa-map-marker icon-roxo"></i> Curitiba, Paraná</p>
        <p><i class="fa fa-calendar icon-roxo"></i> Segunda a Sexta-Feira</p>
      </div>
  
      <div class="footer-section">
        <h4>JUNTE-SE A NÓS</h4>
        <p><i class="fa-brands fa-linkedin icon-roxo"></i> <a href="https://www.linkedin.com/company/inspire-technology-company"> Ver Vagas</a></p>
        <p><i class="fa fa-envelope icon-roxo"></i> <a href="mailto:rh@inspiretech.com"> rh&#64;inspiretech.com</a></p>
        <p><i class="fa fa-user-plus icon-roxo"></i> <a class="clickable-link" (click)="navigateToFormVagas()"> Candidatar-se</a></p>
        <p><i class="fa fa-comments icon-roxo"></i> <a href="/form-vagas"> Por que trabalhar conosco?</a></p>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>© Copyright 2024 - Inspire Tech Company</p>
      <div class="footer-social">
        <a href="https://www.instagram.com/inspiretech.co/"><i class="fa-brands fa-instagram icon-roxo"></i></a>
        <a href="#"><i class="fa-brands fa-facebook icon-roxo"></i></a>
        <a href="https://www.linkedin.com/company/inspire-technology-company"><i class="fa-brands fa-linkedin icon-roxo"></i></a>
      </div>
    </div>
  </footer>
  