<nav class="navbar">
  <div class="navbar-container">
    <a (click)="navigateToHomePage()" class="navbar-logo">
      <img src="../../assets/Inspire.png" alt="Inspire Logo" class="logo">
    </a>
    <span class="menu-toggle" (click)="toggleMenu()">&#9776;</span>
    <ul class="navbar-menu" [class.active]="isMenuOpen">
      <li>
        <a 
          [class.active]="isActive('/home-page')" 
          (click)="navigateToHomePage()" 
          class="navbar-link">
          Home
        </a>
      </li>
      <li>
        <a 
          [class.active]="isActive('/form-contato')" 
          (click)="navigateToFormContato()" 
          class="navbar-link">
          Orçamento
        </a>
      </li>
    </ul>
  </div>
</nav>
