
<div class="home-hero">
    <div class="hero-content">
      <p class="subtitle">Conexões autênticas. Resultados reais.</p>
      <h1 class="main-title">Direcionando sua marca<br>para um futuro brilhante!</h1>
      <a href="/form-contato" class="contact-button">Entre em Contato</a>
    </div>
    <div class="features">
      <div class="feature-box">
        <div class="icon">
          <i class="fa fa-paper-plane"></i>
        </div>
        <h3>Visão de Futuro</h3>
        <p>Antecipamos tendências para preparar sua marca para liderar o mercado. Estratégias inovadoras para um futuro promissor.</p>
      </div>
      <div class="feature-box">
        <div class="icon">
          <i class="fa fa-brain"></i>
        </div>
        <h3>Grandes Ideias</h3>
        <p>Transformamos grandes ideias em campanhas impactantes que capturam a atenção e conquistam corações.</p>
      </div>
      <div class="feature-box">
        <div class="icon">
          <i class="fa fa-lightbulb"></i>
        </div>
        <h3>Soluções Criativas</h3>
        <p>Soluções criativas que conectam, comunicam e convertem. Criatividade que gera resultados.</p>
      </div>
    </div>
</div>

<div class="services-section">
    <div class="services-header">
        <div class="title-line-wrapper">
            <div class="line"></div>
            <h2 class="section-title">Serviços</h2>
        </div>
        <p class="section-subtitle">PARA DECOLAR SUA EMPRESA</p>
    </div>

    <div class="services-container">
        <div class="service-box">
            <div class="icon">
                <i class="fa fa-chart-line"></i> 
            </div>
            <h3>Estratégia Digital</h3>
            <p>Planejamento e execução de ações online para alcançar objetivos específicos de marketing e comunicação através de plataformas digitais.</p>
        </div>

        <div class="service-box">
            <div class="icon">
                <i class="fa fa-pencil-ruler"></i>
            </div>
            <h3>Identidade Visual</h3>
            <p>Criação de elementos visuais como logos, tipografias e paletas de cores que reforçam a imagem de uma marca ou empresa.</p>
        </div>

        <div class="service-box">
            <div class="icon">
                <i class="fa fa-award"></i>
            </div>
            <h3>Branding</h3>
            <p>Desenvolvimento e gestão de todos os aspectos da marca, desde a identidade visual até a percepção do público.</p>
        </div>

        <div class="service-box">
            <div class="icon">
                <i class="fa fa-thumbs-up"></i> 
            </div>
            <h3>Mídias Sociais</h3>
            <p>Utilização de plataformas como Facebook, Instagram e Twitter para promover a marca, engajar com o público e gerenciar a comunicação da empresa.</p>
        </div>

        <div class="service-box">
            <div class="icon">
                <i class="fa fa-globe"></i>
            </div>
            <h3>Site</h3>
            <p>Desenvolvimento e manutenção de um website que serve como o ponto central de informação e interação para clientes e interessados.</p>
        </div>

        <div class="service-box">
            <div class="icon">
                <i class="fa fa-rocket"></i>
            </div>
            <h3>Gestão de Tráfego</h3>
            <p>Estratégias para aumentar o número de visitantes em plataformas digitais da marca, utilizando ferramentas como SEO, PPC e campanhas em redes sociais.</p>
        </div>
    </div>
</div>

  