body {
    font-family: 'Poppins', sans-serif;
}

/* Seção Home */
.home-hero {
    background: url('/assets/bg.png') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 100px 20px;
    text-align: left;
    position: relative;
  }
  
  .hero-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .subtitle {
    color: #A020F0;
    font-size: 15px;
    margin-bottom: -10px;
  }
  
  .main-title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  
  .contact-button {
    display: inline-block;
    padding: 20px 30px;
    color: A020F0;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #A020F0;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .contact-button:hover {
    background-color: #A020F0;
    color: white;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 100px;
  }
  
  .feature-box {
    background-color: #313131;
    padding: 30px;
    width: 30%;
    border-radius: 10px;
    transition: border;
  }
  
  .feature-box .icon {
    font-size: 40px;
    color: #A020F0;
    margin-bottom: 20px;
  }
  
  .feature-box h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .feature-box p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .feature-box:hover {
    border: 4px solid #A020F0; 
}

/* Para Tablets (telas médias) */
@media (max-width: 1024px) {
    .home-hero {
        background: #000000
    }

    .features {
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
    }

    .feature-box {
        width: 80%;
        margin-bottom: 20px;
    }

    .contact-button {
        padding: 10px 20px;
    }
}

/* Para Celulares (telas pequenas) */
@media (max-width: 768px) {
    .home-hero {
        padding: 40px 10px;
    }

    .hero-content {
        padding: 0 15px;
    }

    .subtitle {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .main-title {
        font-size: 28px;
        line-height: 1.3;
    }

    .contact-button {
        padding: 10px 20px;
        font-size: 16px;
    }

    .features {
        gap: 15px;
        padding: 20px 0;
    }

    .feature-box {
        width: 90%;
        padding: 15px;
    }

    .feature-box .icon {
        font-size: 30px;
    }

    .feature-box h3 {
        font-size: 20px;
    }

    .feature-box p {
        font-size: 14px;
    }
}

/* Seção de Serviços */
.services-section {
    padding: 80px 20px;
    background-color: #111111;
    color: white;
    text-align: left;
}

.services-header {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-left: 7%; 
}

.title-line-wrapper {
    display: flex;
    align-items: center; 
    gap: 15px; 
    margin-bottom: 10px; 
}

.line {
    width: 80px; 
    height: 3px;
    background-color: #A020F0; 
}

.section-title {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.section-subtitle {
    color: #A020F0;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px; 
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.service-box {
    background-color: #313131;
    padding: 30px;
    width: calc(25% - 20px);
    border-radius: 10px;
    transition: border 0.3s, transform 0.3s;
    cursor: pointer;
    text-align: left;
}

.service-box .icon {
    font-size: 40px;
    color: #A020F0;
    margin-bottom: 20px;
}

.service-box h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.service-box p {
    font-size: 16px;
    line-height: 1.5;
}

.service-box:hover {
    border: 2px solid #A020F0; 
    transform: scale(1.05);
}

/* Para Tablets (telas médias) */
@media (max-width: 1024px) {
    .services-header {
        margin-left: 5%; 
    }

    .services-container {
        gap: 15px;
    }

    .service-box {
        width: calc(45% - 15px); 
        padding: 20px; 
    }

    .service-box .icon {
        font-size: 35px; 
    }

    .service-box h3 {
        font-size: 22px;
    }

    .service-box p {
        font-size: 15px; 
    }
}

/* Para Celulares (telas pequenas) */
@media (max-width: 768px) {
    .services-header {
        margin-left: 3%; 
    }

    .section-title {
        font-size: 28px; 
    }

    .section-subtitle {
        font-size: 16px; 
    }

    .services-container {
        flex-direction: column; 
        align-items: center; 
        gap: 20px;
    }

    .service-box {
        width: 90%; 
        padding: 20px; 
    }

    .service-box .icon {
        font-size: 30px; 
    }

    .service-box h3 {
        font-size: 20px;
    }

    .service-box p {
        font-size: 14px; 
    }
}

/* Seção Cases */
.cases-section {
    padding: 80px 20px;
    background-color: #222222;
    color: white;
    text-align: left;
}

.cases-header {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-left: 7%; 
}

.title-line-wrapper {
    display: flex;
    align-items: center; 
    gap: 15px; 
    margin-bottom: 10px; 
}

.line {
    width: 50px; 
    height: 3px;
    background-color: #A020F0;
}

.section-title {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.section-subtitle {
    color: #A020F0;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px; 
}
  
.cases-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px;
    justify-items: center;
    align-items: center; 
}

.case-box {
    width: 100%;
    aspect-ratio: 1; 
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.case-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    object-fit: cover; 
}

.case-box:hover {
    transform: scale(1.10);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.case-title {
    position: absolute;
    bottom: 10px; 
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(160, 32, 240, 0.7); 
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(10px); 
    transition: opacity 0.3s, transform 0.3s; 
}

.case-box:hover .case-title {
    opacity: 1; 
    transform: translateY(0); 
}
  
/* Tablets */
@media (max-width: 1024px) {
.cases-header {
    margin-left: 5%;
}

.section-title {
    font-size: 32px;
}

.section-subtitle {
    font-size: 16px;
}

.cases-container {
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px;
}

.case-box {
    width: 100%;
    aspect-ratio: 1;
}
}

/* Celulares */
@media (max-width: 768px) {
.cases-header {
    margin-left: 3%;
}

.section-title {
    font-size: 28px;
}

.section-subtitle {
    font-size: 14px;
}

.cases-container {
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
}

.case-box {
    width: 100%;
    aspect-ratio: 1;
}
}
